/* ===== variable css ===== */
:root{
    /* === font === */
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
    /* === font === */
    /* === colors === */
    --white-clr: #fff;
    --btn-clr:#8B3EEA;
    --text-clr:#000000;
    --secondary-clr:#2B2540;
    /* === colors === */
    --transition: all 0.3s linear;

}
/* ===== variable css ===== */
/* ===== common css ===== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
ul,ol,menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    display: inline-block;
}
body{
    font-family: var(--primary-font);
}
.container{
    width: 1700px;
    margin: 0 auto;
}
.common_btn{
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;
    color: var(--white-clr);
    background-color: var(--text-clr);
    text-transform: capitalize;
    padding: 10px 12px;
    border: 2px solid var(--btn-clr);
    transition: var(--transition);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    z-index: 111;
}
.common_btn::before{
        position: absolute;
        content: "";
        height: 180px;
        width: 170px;
        border-radius: 50%;
        background-color: var(--btn-clr);
        top: -74px;
        left: -10px;
        z-index: -55;
        transition: var(--transition);
}

/* ===== common css ===== */
/* ===== navbar css start here ===== */
.header_contact{
    padding: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25); 
}
.header_contact ul li a{
    color: var(--white-clr);
    font-size: 14px;
    transition: var(--transition);
    
}
.header_contact ul li a:hover{
    color: var(--secondary-clr);
}
header{
    background: transparent;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.dropdown-toggle::after{
    display: none;
}
.navbar-nav{
    column-gap: 40px;
}
.navbar-nav .nav-item{
    position: relative;
    transition: var(--transition);
}
.navbar-nav .nav-item .nav-link{
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: var(--white-clr);
    text-transform: capitalize;
    padding: 0;
    position: relative;
}
.navbar-nav .nav-item .nav-link i{
    font-size: 12px;
}
.navbar-nav .nav-item .nav-link::before{
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--white-clr);
    bottom: -2px;
    left: 0;
    transition: var(--transition);
}
.navbar-nav .nav-item .nav-link:hover::before{
    width: 100%;
}
.navbar-nav .nav-item .dropdown-menu{
    margin-top: 20px;
    transition: var(--transition);
    
}
.navbar-nav .nav-item .dropdown-menu.show{
    display: none;
}
.navbar-nav .nav-item:hover .dropdown-menu{
    display: block;
    margin-top: 8px;
    transition: var(--transition);
}
nav form {
    align-items: center;
    column-gap: 30px;
}
nav form span i{
    font-size: 25px;
    color: var(--white-clr);
    font-weight: 300;    
}
nav form .common_btn{
    background-color: transparent;
}
nav form .common_btn:hover{
    border: 2px solid var(--btn-clr);
    color: var(--white-clr);
    transition: var(--transition);

}
nav form .common_btn:hover::before{
    top: -185px;
    transition: var(--transition);
}

/* ===== navbar css end here ===== */

/* ===== banner css start here ===== */
#banner{
    background: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 380px 0 280px 0;
}
.banner_content_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white-clr);
    text-transform: capitalize;
}
.banner_content_wrapper h1{
    font-size: 82px;
    font-weight: 400;
    line-height: 90px;
}
.banner_content_wrapper p{
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
}

/* ===== banner css end here ===== */

/* ===== navbar css start here ===== */
/* ===== navbar css end here ===== */

/* ===== navbar css start here ===== */
/* ===== navbar css end here ===== */
/* ===== navbar css start here ===== */
/* ===== navbar css end here ===== */
/* ===== navbar css start here ===== */
/* ===== navbar css end here ===== */
/* ===== navbar css start here ===== */
/* ===== navbar css end here ===== */
/* ===== navbar css start here ===== */
/* ===== navbar css end here ===== */
/* ===== navbar css start here ===== */
/* ===== navbar css end here ===== */
/* ===== navbar css start here ===== */
/* ===== navbar css end here ===== */
/* ===== navbar css start here ===== */
/* ===== navbar css end here ===== */
/* ===== navbar css start here ===== */
/* ===== navbar css end here ===== */